*.config.js
*.config.ts
package*.json
.eslintrc.cjs
bundle*.js

packages/web3-utils
packages/massa-web3/examples
packages/massa-web3/code-snippets
packages/massa-web3/src/interfaces
packages/massa-web3/src/utils
packages/massa-web3/src/web3
packages/massa-web3/src/index.ts
packages/massa-web3/test

**/open_rpc/**
**/generated/**
**/dist/**
**/docs/**
typedoc.json