.env*
.eslintignore
.eslintrc.cjs
.github
.gitignore
.husky
.lintstagedrc
.npmignore
.prettierignore
*.html
*.json
*.md
*.wasm
build
bundle.*
coverage
dist
docs
node_modules
scripts
README.md
LICENSE
