name: NPM Publish

on:
    release:
        types: [created]

jobs:
    test:
        uses: ./.github/workflows/node.js.yml

    publish-npm:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18
                  registry-url: https://registry.npmjs.org/
            - run: ./scripts/publish.sh
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
            - uses: softprops/action-gh-release@v1
              with:
                files: |
                    bundle.js
                    bundle.min.js

